<div class="container">
  <div class="jumbotron">
    <h1 class="home-head">Masen's Specialty Foods</h1>
  </div>

  <p id="home-text">Welcome to Masen's Specialty Foods! We offer a wide variety of vegan, sustainable, cruelty free products. All of our products are made out of 100% pure organic hemp. Please go to our products page to view our current inventory.</p>

  <p><%= link_to "Products", products_path %></p>


</div>
