<h1 class="home-head">Contact</h1>

<section class="info-box">
  <p class="home-text__item">Thanks for checking out this site! Unfortunately, Northwest Coffee Company is not a real establishment. Luckily, the visionary behind this site is alive, well, and looking for a job in the tech industry!</p>
  <p class="home-text__item">If you'd like to keep the dreams of NWCC (and the dreams of an aspiring developer) alive, please feel free to contact Masen Matthews at masenmatthews@gmail.com</p>
  <p class="home-text__item">Interested in finding out more? Feel free to take a look through at following materials:<p>

  <h5 class="home-text__item"><a href="https://github.com/masenmatthews">Github</a></h5>
  <h5 class="home-text__item"><a href="https://www.linkedin.com/in/masen-matthews-codes/">LinkedIn</a></h5>
  <h5 class="home-text__item"><a href="https://www.meetup.com/pdxFLIT-Portland-Future-Leaders-In-Tech/">Meetup</a></h5>
</section>
