// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-image: image-url("coffee-background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat stretch;
}

.home-head__item {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0;
  font-family: sans-serif;
}

.home-text {
  border: 3px solid;
  background:rgba(255,255,255,0.5);
}

.home-text__item {
  text-align: center;
  font-size: 1.25em;
}

.main-header {
  width: 100%;
  background-color: #686464;
  padding-bottom: 70px;
  padding: 8px 16px;
  box-shadow: 5px 5px 5px #999;
  -moz-box-shadow: 5px 5px 5px #999;
  -webkit-box-shadow: 5px 5px 5px #999;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 74px);
  vertical-align: middle;
}

.main-nav__item {
  display: inline-block;
  margin: 0 16px;
}

.main-nav__item a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 5px solid white;
}

.main-nav__item--cta a {
  color: white;
  background: maroon;
  padding: 8px 16px;
  border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  color: maroon;
  background: white;
  border: none;
}

.info-box {
  border: 3px solid;
  background:rgba(255,255,255,0.5);
  display: inline-block;
  margin-top: 5px;
  padding-left: 5px;
}
