<div class="container">
    <h1 class="home-head">Products</h1>
    
  <ul>
    <% @products.each do |single_product| %>
      <li><%= link_to single_product.title, product_path(single_product) %> | <%= single_product.description %></li>
    <% end %>
  </ul>

  <p><%= link_to "Add new product", new_product_path %></p>
</div>
