<header class="main-header">
  <div>
    <%= link_to "NWCC", '/', {:class => "main-header__brand"}%>
  </div>
  <nav class="main-nav">
    <ul class="main-nav__items">
      <li class="main-nav__item">
        <%= link_to "Products", products_path %>
      </li>
      <li class="main-nav__item main-nav__item--cta">
        <%= link_to "Contact", contacts_path %>
      </li>
    </ul>
  </nav>
</header>
